* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  display: flex;
}

#sidebar {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  width: 20%;
  background-color: darkgrey;
  padding: 5px;
  flex-shrink: 0;
}

#clear-btn {
  grid-column: 1 / span 3;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 8px;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}

#mainGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  height: 100vh;
  padding: 5px 5px 5px 0;
}
